<h1><%=current_user.email%>'s Profile</h1>


</h1>

<div class="jumbotron jumbotron-fluid">
    <div class="container">


<div class="progress-display">
  <div class="container">
    <% @user.user_challenges.each do |user_challenge|%>
    <div class="row">
      <div class="col-sm-3">
        <% if user_challenge.user == current_user%>
            <%= form_for user_challenge do |f|%>
                 <%= f.label :daily_distance, "Enter Distance" %>
                 <%= f.text_field :daily_distance%>
                 <%= f.submit "Enter distance" %>
             <%end%>
          <%else%>


          <%=link_to "Chek out the challenges to sign up", user_challenge.challenge(user_challenge)%>
          <p>possibly make this link dynamic to go to the specfic challenge page</p>

          <%end%>
      </div>
      <div class="col-sm-6">
        <% challenge = user_challenge.challenge %>
        <%= challenge.name %> <%= distance_of_time_in_words(Time.zone.now, Time.zone.now + challenge.number_of_days.days) %><br>
          <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: <%= user_challenge.percent_complete %>%;">
            <span class="sr-only">60% Complete</span>
          </div>
        </div>
        <%=challenge.short_description %>
      </div>
      <div class="col-sm-3">
        <%if user_challenge.percent_complete >=100 %>
          <button type="button" class="btn btn-default btn-lg">
          <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
          </button>

        <% else %>
        <%=  distance_of_time_in_words(Time.now,user_challenge.created_at + user_challenge.challenge.number_of_days.days)%>
        <%end%>
      </div>
    </div>
    <%end%>
  </div>

</div>

</div>

</div>
