<h2>
    <%= @challenge.name%>
</h2>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h3>
            <%= @challenge.short_description %><h3>
            <%if  user_signed_in? %>
            <%=link_to "Start this challenge", join_challenge_path(@challenge)%>
            <%else%>
            <%=link_to "Sign up to take theEdward Payson Weston Challenge", new_user_session_path%>
            <%end%>
        </h3>
        <%=image_tag('EPW-Stands.jpg')%>
    </div>
</div>
