<!DOCTYPE html>
<html>
<head>
  <title>TheEdwardPaysonWestonChallenge</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

    <body>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <nav class="navbar bg-blue">
                        <div class='nav-head-text'>
                        <%= render 'shared/navbar' %>


                        </div>
                    </nav>
                </div>


            <p class="notice"><%= notice %></p>
            <p class="alert"><%= alert %></p>
            <%= yield %>
            </div>
        </div>
    </body>
</html>
