<!DOCTYPE html>
<html>
<head>
  <title>TheEdwardPaysonWestonChallenge</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
  <div class="container">
  <div class=row>
<div class="col-sm-3">
    <ul>
      <li><%=link_to "Home" , root_path %></li>
      <li><%= link_to "About", welcome_about_path %></li>
      <li><%= link_to "Contact", welcome_contact_path %></li>
    </ul>
</div>
<div class="col-sm-3">
    <ul>
      <%if user_signed_in? %>
            <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
            <li> <%= link_to "Create new challenge", new_challenge_path %></li>
            <li> <%= link_to "See all the users", users_path %></li>
            <li> <%= link_to "see challenges", challenges_path%> </li>
            <li> <%= link_to "User Page", user_path(current_user)%></li>
        <% else %>
            <li><%=link_to "Sign up", new_user_registration_path %></li>
            <li><%=link_to "Sign in" , new_user_session_path %></li>
            <%end %>
    </ul>
    </div>
  </div>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
<%= yield %>
</div>
</body>
</html>
